In [2]:
import pandas as pd

In [10]:
data = pd.read_csv("fuel price.csv")

In [11]:
data.head()

,Unnamed: 0,Date,Pump price in pence/litre (ULSP),Pump price in pence/litre (ULSD),Duty rate in pence/litre (ULSP),Duty rate in pence/litre (ULSD),VAT percentage rate (ULSP),VAT percentage rate (ULSD)
0,2,09/06/2003,74.59,76.77,45.82,45.82,17.5,17.5
1,3,16/06/2003,74.47,76.69,45.82,45.82,17.5,17.5
2,4,23/06/2003,74.42,76.62,45.82,45.82,17.5,17.5
3,5,30/06/2003,74.35,76.51,45.82,45.82,17.5,17.5
4,6,07/07/2003,74.28,76.46,45.82,45.82,17.5,17.5

In [12]:
data.tail()

,Unnamed: 0,Date,Pump price in pence/litre (ULSP),Pump price in pence/litre (ULSD),Duty rate in pence/litre (ULSP),Duty rate in pence/litre (ULSD),VAT percentage rate (ULSP),VAT percentage rate (ULSD)
904,906,05/10/2020,113.26,118.11,57.95,57.95,20.0,20.0
905,907,12/10/2020,113.19,118.05,57.95,57.95,20.0,20.0
906,908,19/10/2020,113.18,118.08,57.95,57.95,20.0,20.0
907,909,26/10/2020,113.14,118.08,57.95,57.95,20.0,20.0
908,910,02/11/2020,113.11,118.06,57.95,57.95,20.0,20.0

In [13]:
display(data)

,Unnamed: 0,Date,Pump price in pence/litre (ULSP),Pump price in pence/litre (ULSD),Duty rate in pence/litre (ULSP),Duty rate in pence/litre (ULSD),VAT percentage rate (ULSP),VAT percentage rate (ULSD)
0,2,09/06/2003,74.59,76.77,45.82,45.82,17.5,17.5
1,3,16/06/2003,74.47,76.69,45.82,45.82,17.5,17.5
2,4,23/06/2003,74.42,76.62,45.82,45.82,17.5,17.5
3,5,30/06/2003,74.35,76.51,45.82,45.82,17.5,17.5
4,6,07/07/2003,74.28,76.46,45.82,45.82,17.5,17.5
...,...,...,...,...,...,...,...,...
904,906,05/10/2020,113.26,118.11,57.95,57.95,20.0,20.0
905,907,12/10/2020,113.19,118.05,57.95,57.95,20.0,20.0
906,908,19/10/2020,113.18,118.08,57.95,57.95,20.0,20.0
907,909,26/10/2020,113.14,118.08,57.95,57.95,20.0,20.0
908,910,02/11/2020,113.11,118.06,57.95,57.95,20.0,20.0

In [8]:
import numpy as np
import pandas as pd

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier

In [14]:
data.info

<bound method DataFrame.info of      Unnamed: 0        Date  Pump price in pence/litre (ULSP)  \
0             2  09/06/2003                             74.59
1             3  16/06/2003                             74.47
2             4  23/06/2003                             74.42
3             5  30/06/2003                             74.35
4             6  07/07/2003                             74.28
..          ...         ...                               ...
904         906  05/10/2020                            113.26
905         907  12/10/2020                            113.19
906         908  19/10/2020                            113.18
907         909  26/10/2020                            113.14
908         910  02/11/2020                            113.11

     Pump price in pence/litre (ULSD)  Duty rate in pence/litre (ULSP)  \
0                               76.77                            45.82
1                               76.69                            45.82
2                               76.62                            45.82
3                               76.51                            45.82
4                               76.46                            45.82
..                                ...                              ...
904                            118.11                            57.95
905                            118.05                            57.95
906                            118.08                            57.95
907                            118.08                            57.95
908                            118.06                            57.95

     Duty rate in pence/litre (ULSD)  VAT percentage rate (ULSP)  \
0                              45.82                        17.5
1                              45.82                        17.5
2                              45.82                        17.5
3                              45.82                        17.5
4                              45.82                        17.5
..                               ...                         ...
904                            57.95                        20.0
905                            57.95                        20.0
906                            57.95                        20.0
907                            57.95                        20.0
908                            57.95                        20.0

     VAT percentage rate (ULSD)
0                          17.5
1                          17.5
2                          17.5
3                          17.5
4                          17.5
..                          ...
904                        20.0
905                        20.0
906                        20.0
907                        20.0
908                        20.0

[909 rows x 8 columns]>

In [15]:
data

,Unnamed: 0,Date,Pump price in pence/litre (ULSP),Pump price in pence/litre (ULSD),Duty rate in pence/litre (ULSP),Duty rate in pence/litre (ULSD),VAT percentage rate (ULSP),VAT percentage rate (ULSD)
0,2,09/06/2003,74.59,76.77,45.82,45.82,17.5,17.5
1,3,16/06/2003,74.47,76.69,45.82,45.82,17.5,17.5
2,4,23/06/2003,74.42,76.62,45.82,45.82,17.5,17.5
3,5,30/06/2003,74.35,76.51,45.82,45.82,17.5,17.5
4,6,07/07/2003,74.28,76.46,45.82,45.82,17.5,17.5
...,...,...,...,...,...,...,...,...
904,906,05/10/2020,113.26,118.11,57.95,57.95,20.0,20.0
905,907,12/10/2020,113.19,118.05,57.95,57.95,20.0,20.0
906,908,19/10/2020,113.18,118.08,57.95,57.95,20.0,20.0
907,909,26/10/2020,113.14,118.08,57.95,57.95,20.0,20.0
908,910,02/11/2020,113.11,118.06,57.95,57.95,20.0,20.0

In [ ]:
#PREPROCESSING

In [38]:
def preprocess_inputs(df):
    df = df.copy()
    
    # Drop index column
    df = df.drop('Unnamed: 0', axis=1)
     # Generate date columns
    df['Date'] = pd.to_datetime(df['Date'])
    
    df['Year'] = df['Date'].apply(lambda x: x.year)
    df['Month'] = df['Date'].apply(lambda x: x.month)
    df['Day'] = df['Date'].apply(lambda x: x.day)
    
    df = df.drop('Date', axis=1)
    
    # Create labels from the Year column
    df['Year'] = df['Year'].apply(lambda x: 1 if x >= 2012 else 0)
    
    # Split df into X and y
    y = df['Year'].copy()
    X = df.drop('Year', axis=1).copy()
    
    # Scale X with a standard scaler
    scaler = StandardScaler()
    X = pd.DataFrame(scaler.fit_transform(X), columns=X.columns)
    
    return X, y

In [39]:
X, y = preprocess_inputs(data)

In [40]:
X

,Pump price in pence/litre (ULSP),Pump price in pence/litre (ULSD),Duty rate in pence/litre (ULSP),Duty rate in pence/litre (ULSD),VAT percentage rate (ULSP),VAT percentage rate (ULSD),Month,Day
0,-1.994782,-2.002815,-1.866717,-1.866717,-0.818744,-0.818744,0.716806,-1.113329
1,-2.001340,-2.006938,-1.866717,-1.866717,-0.818744,-0.818744,-0.158185,0.025944
2,-2.004073,-2.010545,-1.866717,-1.866717,-0.818744,-0.818744,-0.158185,0.823435
3,-2.007898,-2.016215,-1.866717,-1.866717,-0.818744,-0.818744,-0.158185,1.620926
4,-2.011724,-2.018791,-1.866717,-1.866717,-0.818744,-0.818744,0.133479,-0.999402
...,...,...,...,...,...,...,...,...
904,0.118560,0.127729,0.735037,0.735037,0.813358,0.813358,-0.449848,-0.657620
905,0.114735,0.124636,0.735037,0.735037,0.813358,0.813358,1.591796,-0.657620
906,0.114188,0.126183,0.735037,0.735037,0.813358,0.813358,1.008469,0.367726
907,0.112002,0.126183,0.735037,0.735037,0.813358,0.813358,1.008469,1.165217
908,0.110363,0.125152,0.735037,0.735037,0.813358,0.813358,-1.324839,-0.543693

In [41]:
y

0      0
1      0
2      0
3      0
4      0
      ..
904    1
905    1
906    1
907    1
908    1
Name: Year, Length: 909, dtype: int64

In [42]:
y.value_counts()

1    462
0    447
Name: Year, dtype: int64

In [ ]:
#Training

In [43]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, random_state=123)

In [44]:
models = {
    "   Logistic Regression": LogisticRegression(),
    "Support Vector Machine": SVC(),
    "         Decision Tree": DecisionTreeClassifier(),
    "        Neural Network": MLPClassifier(),
    "   K-Nearest Neighbors": KNeighborsClassifier(),
    "     Gradient Boosting": GradientBoostingClassifier(),
    "         Random Forest": RandomForestClassifier(),
    "              AdaBoost": AdaBoostClassifier()
}

In [45]:
for model in models.values():
    model.fit(X_train, y_train)

C:\Users\Umansh Agarwal\anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:614: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

In [46]:
print("Model Test Accuracies:\n----------------------")

for name, model in models.items():
    print(name + ": {:.2f}%".format(model.score(X_test, y_test) * 100))

Model Test Accuracies:
----------------------
   Logistic Regression: 97.07%
Support Vector Machine: 97.07%
         Decision Tree: 97.80%
        Neural Network: 97.07%
   K-Nearest Neighbors: 94.51%
     Gradient Boosting: 95.97%
         Random Forest: 96.34%
              AdaBoost: 95.97%